:root {
    --accent-color: #132036;
    --background-color: #fdfaf6;
    --dark-text-color: #171d31;
    --light-text-color: #fefefe;
    --duck-color: #f7bd4e;

    --box-shadow-settings: 0 0 .1rem .1rem rgba(0, 0, 0, .03);
}

.uppercase {
    text-transform: uppercase;
}

.centerd-text {
    text-align: center;
}


/* Edit Scrollbar */



* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;

    color: var(--dark-text-color);

    /* Debug */
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5rem;

    background-color: var(--accent-color);
    color: var(--light-text-color);
    font-weight: bold;

    z-index: 1000;
}

#logo-div {
    display: flex;
    align-items: center;
    margin: .5rem 1.7rem;

    font-size: 1.7rem;
}

#nav-logo {
    width: 4rem;
}

#nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0 2rem;
}

nav a {
    text-decoration: none;
    color: var(--light-text-color);
}


/* Main */
main {
    width: 100%;
}

/* Welcome Section */
#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2rem;
}

#main-logo {
    width: 40rem;
    margin-top: 6rem;
}

#info-div {
    text-align: center;
    color: var(--dark-text-color);
}

/* Importent Button Section */
#importent-button-section {
    display: flex;
    justify-content: center;

    margin: 2rem;
}

#importent-button-section button {
    margin: .5rem;
    padding: .6rem 1.4rem;

    border-radius: .3rem;
    border: none;

    background-color: var(--accent-color);
    color: var(--light-text-color);
    box-shadow: var(--box-shadow-settings);
    font-size: 1.2rem;
}

#importent-button-section button:hover {
    background-color: var(--duck-color);
    color: var(--dark-text-color);
}


/* News Section */
#news-section-title {
    margin: 3rem 0rem 1.5rem 2rem;
}

#news-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#upcoming-event-div, #second-next-event-div, #match-preview-div {
    width: 30vw;
    height: max-content;
    background-color: white;
    box-shadow: var(--box-shadow-settings);
    border-radius: .5rem;
    padding: 1rem 1rem .6rem 1rem;

    color: var(--dark-text-color);

    display: flex;
    flex-direction: column;
}

#upcoming-event-div hr, #second-next-event-div hr, #match-preview-div hr {
    margin-top: 1.2rem;

    border: .1rem solid rgba(20, 32, 53, 0.3)
}

.date-display {
    color: var(--duck-color);
    
    font-weight: bold;
    font-size: 1.3rem;

    margin-bottom: .5rem;
}

.title {
    font-size: 2rem;

    margin: .5rem 0;
}

.summary-of-event {
    margin: .5rem 0;

    line-height: 1.2rem;
}

.read-more-btn {
    border: none;
    background-color: transparent;
    font-weight: bold;

    border-radius: .3rem;

    width: 100%;

    margin-top: .5rem;
    padding: .5rem;
}

.read-more-btn:hover {
    background-color: var(--accent-color);
    color: var(--light-text-color);
}

#date-and-result-div {
    display: flex;
    justify-content: space-between;

    position: relative;
    right: 1rem;

    width: 30vw;

    margin: 1rem 0;
    padding: 1rem;

    background-color: var(--accent-color);
}

#date-and-result-div p {
    color: var(--light-text-color);
}

#upcoming-war-div {
    margin: 1rem 0;
}

#last-war-div {
    margin: 1rem 0;
}

.war-div {
    display: flex;
    justify-content: space-between;
}

#name {
    font-weight: bold;
}



/* Footer */
footer {
  background-color: var(--accent-color);
  color: var(--light-text-color);
  font-size: 0.9rem;

  margin-top: 5rem;

  display: flex;
  justify-content: space-between;
}

footer a {
    font-style: normal;
    text-decoration: none;
    color: var(--light-text-color);

    margin: 1.5rem 1.5rem;
}


/* Fonts */
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url(fonts/Nunito/Nunito-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}